<div (click)="toggleCart()" class="relative">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8 cursor-pointer">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 00-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 00-16.536-1.84M7.5 14.25L5.106 5.272M6 20.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm12.75 0a.75.75 0 11-1.5 0 .75.75 0 011.5 0z" />
    </svg>
    <span 
        class="bg-orange-500 text-white text-xs text-center w-4 h-4 rounded-full absolute -top-1 -right-2"
    >
       {{ total }}
    </span>

    
</div>

<div [ngClass]="isOpen ?' opacity-100 z-20': 'opacity-0 scale-75'" class="w-full box-border md:w-80 absolute right-0 md:-right-40 top-24 md:top-16 transition duration-150 ease-in">
    <div class="bg-white mx-4 md:mx-0 p-3 shadow-xl rounded-md">
    <h3 class="py-2 border-b-2 font-bold">Cart</h3>
    @for (item of cart.items; track item) {
        <div class="flex w-full gap-2 items-center my-10">
            <img class="w-12 h-12 rounded-sm" src="assets/images/image-product-1-thumbnail.jpg">  
            <div class="flex flex-col mx-2 mdw-4/6 text-neutral-500 text-sm">
                <span>{{ item.name }} </span>
                <p>${{ item.price }} x {{ item.quantity }}
                    <span class="font-bold text-neutral-900">${{ item.quantity * item.price }}</span>
                </p>           
            </div>
            <svg (click)="removeFromCart(item.id)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 cursor-pointer text-neutral-500">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
            </svg>   
        </div>
    } @empty {
        <p class="text-neutral-500 my-10 text-center">
            Your cart is empty.
        </p>
    }
    
    <div class="mb-6">
        <button class="w-full h-12 rounded-md text-white font-bold bg-orange-500">
            Checkout
        </button>
    </div>
</div>
    
</div>
