<img src="assets/images/image-product-1.jpg" class="rounded-xl">
<div class="flex gap-4 justify-between mt-6">
    <img src="assets/images/image-product-1-thumbnail.jpg" class="w-20 h-20 rounded-xl border-2 border-orange-400 opacity-50">
    <img src="assets/images/image-product-2-thumbnail.jpg" class="w-20 h-20 rounded-xl">
    <img src="assets/images/image-product-3-thumbnail.jpg" class="w-20 h-20 rounded-xl">
    <img src="assets/images/image-product-4-thumbnail.jpg" class="w-20 h-20 rounded-xl">
</div>
